@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pag-notificacao{
    top: auto;
}

.titulo-not{
    text-align: left;
    margin-left: 5%;
    color: #040404;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 100;
}
.titulo-not h1{
    margin-left: 20%;
}

.corpo-not{
    margin-right: 10%;
    margin-left: 20%;
    text-align: left;
    color: #040404;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.card-content-notificacao {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid  #eeeeee;

}

.card-content-notificacao:hover {
    background: #eeeeee;
}

.info-button-notificacao{
    display: flex;
    flex-direction: row;
}

.info-button-notificacao a{
    margin-left: 100px;
    margin-top: 13px;
}

.content-card-notification {
    display: flex;
    flex-direction: column;
}

.img-div-notificacao{
    padding: 5px;
}