.search{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    height: 10%;
    padding: 5px;
}

.search form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search form label {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.search form input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background: #E4E4E4;
    color: #040404;
    border: 1px solid #E4E4E4;
    height: 30px;
    width: 100%;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 20px;

}
.search form button{
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    border-radius: 17.5px;
    border: 1px solid #E4E4E4;
    background-color: #E4E4E4;
    height: 35px;
    width: 35px;
    margin-left: 5px;
    color: #040404;
    cursor: pointer;
}

.cards-contratante {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content-cards-contratante{
    width: 90%;
    height: 20%;
    display: grid;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 10px;
}
.card-contratante{
    padding: 10px;
    border: 1px solid rgb(43, 43, 48);
    border-radius: 3px;
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 95%;
    height: 80%;
}

.card-contratante:hover{
    background: #eeeeee;
}

.card-content-contratante{
    margin-top: -20px;
    height: 10%;
    text-align: left;
    color: #008AEE;
}

.card-content-contratante p{
    margin-top: 20px;
}

.card-content-contratante h4{
    color:#040404;
    font-size: 20px;
    margin-bottom: 0px;
}

.img-div-contratante{
    margin-bottom: 10px;
    margin-right: 10px;
}
.info-button-contratante {
    display: flex;
    flex-direction: row;
}

.info-button-contratante a{
    color:black;
    margin-top: -25px;
    margin-left: 400px;
}

.nova-vaga{
    margin: 15px;
}

.nova-vaga:hover{
    color: #838383;
}

.lixo-icon{
    color:rgb(231, 89, 89);
    margin-top: -25px;
    margin-left: 200px;
}

.lixo-icon:hover{
    color:rgb(255, 0, 0);

}

.info-vaga{
    margin-top: 20px;
}

.info-vaga a {
    color:rgb(0, 0, 0);
}

.info-vaga a span{
    color: rgb(5, 145, 98);
}

.info-vaga t{
    color: rgb(0, 0, 0);
}

.info-vaga a{
    margin-left: 50px;
}