@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.pagina{
    display: flex;
    flex-direction: row;
}

.informe{
    text-align: left;
    float: left;
    width: 75%;
    background: #f5f5f5;

}

.informe h1 {
    text-align: left;
    padding-left: 10%;
    color: #040404;
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 400;
}

.informe span{
    color: #008AEE;
}

.informe h2{
    margin-top: 40px;
    padding-left: 10%;
    color: #040404;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.login {
    font-family: 'Montserrat', sans-serif;
    float: right;
    color: #f5f5f5;
    width: 25%;
    height: 100%;
    background: #040404;
    padding: 30px;
}

.login h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 400;
    text-align: left;
    margin-left: 5%;
    margin-top: 15%;
}

.login form {
    
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    margin: 0 auto;
    max-width: 400px;
}

.login form label {
    display: flex;
    flex-direction: column;

}

.login form input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #040404;
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 4px;
    margin-bottom: 45px;

}

.login form input:focus{
    border: 1px solid #040404;

}

.login form button{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #008AEE;
    background-color: #008AEE;
    height: 50px;
    color: #f5f5f5;
}

.login p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

