.nav{
    background: #000;
    padding: 20px;
    margin: auto auto;
}

.nav a{
    margin: 0 10px 0 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover{
    color: rgb(25, 77, 219);
}